<%- include header %>
<form method="post">
	address_to:<input type="text" name="address_to"/><br />
	money:<input type="text" name="money"/><br />
		<input type="submit" value="deal"/>
</form>
<%- include footer %>
