<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Bank</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="主页" href="/">主页</a></span>
<span><a title="切换用户" href="/user">切换用户</a></span>
<span><a title="查询账户存款" href="/balance">查询账户存款</a></span>
<span><a title="向银行存款" href="/deposit">向银行存款</a></span>
<span><a title="签署信任合同" href="/trusted">签署信任合同</a></span>
<span><a title="企业间交易" href="/deal">企业间交易</a></span>
<span><a title="企业从银行取款" href="/loan">企业从银行取款</a></span>
<span><a title="还款" href="/repay">还款</a></span>
</nav>

<article>
