<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<%- include header %>
	<form method="post">
		contract address:<input type="text" name="contract_address"/><br />
		<input type="submit" value="confirm"/>
		<%- include footer %>
</form>
	</body>
</html>
