<%- include header %>
<form method="post">
	end_time:<input type="text" name="end_time"/><br />
	money:<input type="text" name="money"/><br />
	password:<input type="password" name="password"/><br />
		<input type="submit" value="trusted"/>
</form>
<%- include footer %>
